:root{
  --color1: rgb(28, 32, 255);
  --color2: rgba(23, 180, 83, 0.877);
  --color3: rgba(11,194,211, 0.623);
  --fondo: rgb(217, 255, 249);
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background: var(--fondo);
}

img{
  vertical-align: top;
}


/* Header */

header{
  width: 100%;
  height:600px;
  background-image: url(img/fondo.jpg);
  /* background-repeat: no-repeat; */
  /* background: linear-gradient(to bottom,
  rgba(40, 238, 73, 0.856),
  rgba(255, 231, 15, 0.876),
  rgba(64, 153, 255, 0.445)
  ), url(img/fondo.jpg);
  background-attachment: fixed;   /*  para fijar la imagen */
 /*  background-position: center;   /* se centra la imagen */
  /* background-size: cover; */    /* se adapta a la pantalla para ocuparla toda */

}

/* a continuación van las líneas para darle estilo al nav
por favor explique las líneas principales

*/
nav{
  width: 100%;
  position: fixed;
}
.nav1{
  background: transparent;
  /* height: 80px; */
  color:#fff; /*color del texto dentro de este nav*/
}
.nav2{ /* esto se aplicará cuando se llegue a Javascrip*/
  background: var(--fondo);
  height:100px;
  color:#000; /*color del texto dentro de este segundo estilo para el nav*/
}
.contenedor-nav{
  display: flex; /* permite que en vez de que cada caja ocupe un renglón, los elementos se muestren uno al lado del otro*/
  margin: auto; /*Pone márgenes automáticas por izquierda y derecha. El elemento toma el ancho que le doy, y después tomará el espacio sobrante para establecer automáticamente las márgenes*/
  width: 90%; /* es el ancho de la cja contenedor-nav*/
  justify-content: space-between; /*espacio adecuado entre los diferentes elementos de este contenedor*/
  align-items: center;  /*Los elementos se centran automáticamente con respecto a la parte superior e inferior del contenedor, es decir, en el eje y*/
  max-width:1000px;
  height:inherit;
  overflow: hidden;
}

/*a continuación estilos para los links del nav */
/*por favor explique las líneas principales*/
nav .enlaces a{ /*sigue una jeraqrquía*/
  display: inline-block;
  margin-right: 25px;
  font-size: 25px; /*tamaño de fuente*/
  text-decoration: none;
  color: inherit; /*se hereda el color de texto del nav como se definió ya en nav1*/
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

/*con la propiedad hver logramos que se resalte la parte inferior de la caja de cada enlace*/
nav .enlaces a:hover{
  border-bottom: 1px solid red;
}

#equipo{
  color: #163896;
}

.logo, .logo img{ 
  height:80px;
}

   /* el icono de las tres rayas se desaparecio ya que la pantalla esta grande, solamente aparece cuando se ajuste a ella */
.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}


/*a continuacióne estilos para los textos principales */
/*por favor explique las líneas principales*/

.textos{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  overflow: hidden;
  text-align: center;
}

.textos>h1{
  font-size:80px;
}

.textos>h2{
  font-size: 30px; font-weight: 300;
}

/* Estilos para la sección principal o Main 
Explique las líneas esenciales del css
*/

   /* el margin agrega una margen acorde al contenido de la caja, el padding agrega segùn la variable que hay en root una margen a los elemntos
   el widht agrega un tamaño a la caja y el text aling centra los elemntos */
.contenedor{

  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

  /* font size:  agrega al h3 de la clase contenedor un tamaño respecto 
  a la variable root que hay al inicio, el color agrega
  el de la variable color1 al inicio, y el margin agrega a la p
  arte de abajo una margen segun la variable en root  */

.contenedor h3{
  font-size: var(--titulos);
  color: white;
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}

 /* queremos agregar una linea elegante para eso modificamos la caja  */

.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}


/* el display flex permite que los elementos se 
dispersen segun sus propiedades por la caja que los contiene, de derecha a izquierda 
el space beetween separa entre los cajas un espacio, y el space around no deja un espacio entre ellas


*/
.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.content-card{
  width: 21%;
  overflow: hidden; 
  height:400px;
}

.people{
  height: 80%; /* cuánta altura me va a ocupar del content-card */
}

.content-card img{
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* el objeto reemplazado (la imagen) se redimensiona para ajustarse al al tamaño del div*/
}


.texto-team h4{

  font-size: 20px;
}


.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}

.about{
  background-color: rgb(91, 27, 116);
  height: auto;
}

.servicios p{

  color: black;
  
}

.servicios{

  display: flex;
  color: white;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap; /*responsive, útil para para pantallas más pequeñas*/
  
}

.caja-servicios{
  width: 31%;
  margin: auto;
  text-align: center;
}

.caja-servicios>h4{
  margin-bottom: var(--espacios);
  color: white;
} 


.caja-servicios>p{
  text-align: center;
  color: white;
}


.botones-work{
  overflow: hidden;
}

.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);  /* margenes externos izquierda */
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color1);
  border-radius: 25px;
  list-style: none;
  color: var(--color1);
}


.botones-work li:hover{
  /*al pasar el cursor cambia al color de fondo especificado*/
  background: var(--color1);
  /*también al pasar el cursor cambia al color de letra especificado*/
  color:#fff;
  cursor: pointer;
}

.botones-work .active{
  background: var(--color1);
  color:#fff;
}

.cont-work{
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  height:300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
  border-radius: 25px;
}

.galeria-work{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img-work{
  height: 90%;
  width: 100%;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textos-work{
  height: 10%;
}

.textos-work h4{
  line-height: 30px;
  font-weight: 300;
}


footer{
  background-color: rgb(121, 252, 252);
}

.marca-logo{
  width: 20%;
  margin: auto;
  margin-bottom: var(--espacios);
  /*background: yellow;*/
}

.marca-logo img{
  width: 130px;
  height: 130px;
}

.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
  /*background: blue;*/
  
}

.iconos i{
  color: blue;
  
}
.fab{
  font-size:40px;
  color: white;
  margin-bottom: var(--espacios);
  display: inline-block;
  /*background: green;*/
}


footer p{
  margin-top:var(--espacios);
  /*background:#FFF;*/
}












/*se usa @media para especificar estilos que solo se reflejarán si se cumplen ciertas condiciones*/
@media screen and (max-width: 700px){                  /*debe ser una pantalla y no tener más de 700px de ancho*/
  .nav2{
    color: #fff;  /*color del texto*/
  }

  .icono{
    display:block;
    cursor: pointer;
  }

  .enlaces{
    position: fixed;
    top:80px;
    background: #2c3e50; /*color de fondo del contenedor de los enlaces del nav*/
    left: 0; /*dentro del nav por el lado izquierdo no tednrá margen*/
    height: 100%;
    transition: 1s;
    width: 0;  /*esconde el div ya que el ancho es 0*/
    overflow: hidden; /*oculta los textos*/
  }

  .enlaces a{
    display: block;
    width: 100%;  /*el 100% de la caja enlances*/
    height: 50px;    /*altura de la caja elemento "a"*/
    padding: 20px;
    text-align: center;
    background: #34495e; /*color de fondo de la caja elemento "a"*/
    color:#fff;
  }

  .textos>h1{font-size: 70px;}
  .textos>h2{font-size:35px;}

  .content-card{     /*2     */
    width: 48%;     /*se redujo el ancho del content-card */
    margin-bottom:var(--margenes);
  }

  :root{
    --margenes: 30px;
  }

}

@media screen and (max-width: 500px){
  :root{
    --espacios-contenido: 25px;
  }

  .content-card{   /*3     */
    width: 90%;   /*se aumentó el tamaño del content-card  */
  }

  .caja-servicios{
    width: 90%;
    margin-bottom: var(--margenes);
  }

  .cont-work{
    width: 85%;
  }

  .marca-logo{
    width: 80%;
  }

  .iconos{
    margin: auto;
  }
}
